body{
    max-width:1000px;
    margin:50px auto;
    font-family:Microsoft YaHei;
}
div{
    float:left;
}
p{
    margin:10px 0;
}
table{
    float:right;
}
th, td{
    width:100px;
    line-height:25px;
    text-align:center;
    border:2px solid #aaa;
}
th{
    font-size:15px;
}
td{
    font-size:12px;

}

